body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}

header {
  background-color: #222;
  color: white;
  padding: 40px 0;
}

section {
  margin: 40px auto;
  max-width: 600px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #005ecb;
}

.projects {
    display: flex;
    justify-content: center;
}
.project-card {
    background: rgb(255, 253, 253);
    padding: 20px;
    width: 300px;
    border-radius: 10 px;
    box-shadow: 0 5px 15 px rgba(0,0,0,0,1);
}